* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: #f4f4f4;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    background: linear-gradient(270deg, rgb(7, 27, 213), rgb(242, 8, 246));
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
    transition: .3s;
}

.logo:hover {
    transform: scale(1.1);
}

.Home .Home-content h3{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
nav a {
    font-size: 20px;
    color: white;
    margin-left: 4rem;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: .3s ease;
}

nav a:hover,
nav a.active {
    color: rgb(207, 63, 15);
    border-bottom: 3px solid rgb(47, 0, 128);
}

.gradient-btn {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, rgb(7,27,213), rgb(242,8,246));
    cursor: pointer;
    transition: 0.3s;
}

.gradient-btn:hover {
    transform: scale(1.1);
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 100%;
    background: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.Home-img img {
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(69, 10, 230);
    transition: .3s;
}

.Home-img img:hover {
    transform: scale(1.05);
}

.Home-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

.Home-content h4 {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 700px;
}

span {
    background: linear-gradient(270deg, rgb(7,27,213), rgb(242,8,246));
    background-clip: text;
    color: transparent;
}

.typing-text {
    font-size: 32px;
    font-weight: 600;
}

.typing-text span::before {
    content: "Aspiring Web Developer";
    animation: words 12s infinite;
    color: violet;
}

@keyframes words {
    0%, 25% { content: "Aspiring Web Developer"; color: rgb(223, 120, 10); }
    25%, 50% { content: "Aspiring Software Developer"; color: lightgreen; }
    50%, 75% { content: "Aspiring Web Designer"; color: rgb(22, 7, 136); }
    75%, 100% { content: "Aspiring Software Designer"; color: rgb(173, 9, 129); }
}

.social-icons a {
     background: linear-gradient(
        270deg,
        orange 10%,
        red 100%
    );
    background-clip: text;
   color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    border: 2px solid rebeccapurple;
    font-size: 2rem;
    transition: .3s;
    margin-right: 1rem;
    box-shadow: 0 0 10px white;
}

.social-icons a:hover {
    transform: scale(1.2) translateY(-5px);
    background: rebeccapurple;
    color:black;
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    place-items: center;
}

.About-content h2 {
    font-size: 4rem;
    place-items: center;
}

.About-content p {
    font-size: 1.5rem;
    max-width: 1000px;
    margin-top: 1rem;
    line-height: 1.5;
    border-radius: 5%;
    border: 2px solid rgb(54, 12, 190);
    justify-content: center;
    background-color: transparent;
    color: white;
    place-content: center;
}
.about-text:focus,
.about-text:active{
    outline: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: violet;
    margin-top: 2rem;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(198, 22, 60);
}

::-webkit-scrollbar-track {
    background-color: rgb(219, 231, 241);
}

.projects{
    background-color: black;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}

.project-box {
    background: black;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.5s ease;
    box-shadow: 0 0 1rem purple;
    border: 2px solid rgb(249, 17, 222);
}

.project-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2rem white;
    transform-origin: center;
}

.project-box i {
    font-size: 3rem;
    color: blue;
    margin-bottom: 1.5rem;
}    
.project-box img{
    max-width: 100%;
    border-radius: em;
    object-fit: cover;
    max-height: 150px;
}
.btn{
    background-color: black;
    padding: 2rem 2rem rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.5s ease;
    box-shadow: 0 0 1rem rgb(162, 8, 136);
    border: 2px solid rgb(202, 17, 181);
}
.btn:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(75, 7, 75);
    box-shadow: 0 0 25px rgb(74, 4, 74);

}
.contact-section{
    background-color: black;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    background: linear-gradient(270deg, rgb(7, 27, 213), rgb(242, 8, 246));
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

h2 {
    margin: 20px 0 10px;
    color: #333;
     background: linear-gradient(270deg, rgb(7, 27, 213), rgb(242, 8, 246));
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 1.5rem;
    background: #00060d;
    color: white;
    width: 20%;
    font-size: 1.1rem;
    border-radius: 0.8rem;
}

.contact-form button:hover {
    background: #370831;
    transform: scale(1.02);
    box-shadow: 0 0 2rem white;
    transform-origin: center;

}
.resume-section{
    background-color: black;
}
.resume-section ul {
    margin: 10px 0 20px;
    padding-left: 20px;
}

.resume-section li {
    margin-bottom: 5px;
}
@media (max-width: 1200px) {
    html {
        font-size: 85%; 
    }
}

@media (max-width: 991px) {
    .header {
        padding: 1.5rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 1285px) {
    #menu-icon {
        display: block; 
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: transparent;
        border-bottom-left-radius: 2rem;
        border-left: 2px solid rgb(191, 10, 152);
        border-bottom: 2px solid rgb(191, 10, 152);
        box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block; 
    }

    .navbar a {
        display: block;
        font-size: 1.5rem;
        margin: 1rem 0;
        text-align: left;
        color: white;
    }
    .gradient-btn{
        display: none;
    }

    .Home{
        flex-direction: column;
        text-align: center;
    }

    .Home-content h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 70%;
    }

    .contact form .input-box {
        flex-direction: column; 
    }
    .contact form .input-box input:nth-child(2) {
        margin-left: 0;
    }
}